matplotlib==3.5.2
networkx==2.8.8
numpy==1.24.1
orqviz==0.5.0
PennyLane==0.27.0
scipy==1.13.1
torch==2.0.0

cirq==0.13.1
pyquil==3.0.1
qiskit==1.2.4

qiskit-aer==0.14.1

tensorflow==2.15.0

Flask==2.1.2
flask-smorest==0.39.0

ply==3.11
qiskit_qasm3_import