matplotlib==3.8.0
networkx==2.8.8
numpy==1.26.4
orqviz==0.6.0
PennyLane==0.27.0 
scipy==1.15.1
torch==2.3.1

cirq==0.13.1
pyquil==3.0.1
qiskit==1.2.4

qiskit-aer==0.14.1

tensorflow==2.18.0

Flask==3.1.0
flask-smorest==0.45.0

ply==3.11
qiskit_qasm3_import==0.5.1
marshmallow~=3.23.1
sympy~=1.13.3 
tqdm~=4.67.0